/* Custom Revel manual styles. */

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #EEE;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.config-overview table {
  width: 100%;
}

.config-overview table td {
  text-align: center;
}
