DEADbody {
  padding: 0 0 40px 0;
}

p, li {
  line-height: 1.5em;
  margin-left: 15px;
  margin-right: 30px;
}


.hero-unit {
  background-color: #222;
  margin-top:0px;
  min-width: 940px;
  color:#ccc;
  padding-top:0px;
  border-bottom:1px solid #375EAB;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.hero-img {
  float:left;
}

.hero-text {
  margin-left:200px;
  padding-top:200px;
  padding-bottom:150px;
}




a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}







.nav-list > .active > a, .nav-list > .active > a:hover {
  background-color: #999 !important;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #fff !important;
  background-color: #999 !important;
}

.navbar .nav li a {
  font-size: 16px;
}

code {
  color: #a14;
  background: 0;
  border: 0;
}

a code {
  color: #08C;
}

ul ul, ul ol, ol ol, ol ul, ul {
  margin-bottom: 1em;
}

/* revel logo and header */
.navbar-header {
    width: 250px; 
}
#revel-logo {
    margin: 0;
    padding: 0;
}
#revel-logo img {
    margin: 2px 0 0 0;
}

/* Top navigation */
.revel-top-nav ul li a {
    color: #222222 !important;
    font-size: 30px;
    font-family: "Open Sans", sans-serif !important;
}
.revel-top-nav ul li.active a {
    color: #333333 !important;
}
.revel-top-nav li {
    margin-left: 0;
    margin-right: 0;
}

/* Left navigation */

.leftnav {
    border-right: 1px solid #dddddd;
}
.leftnav .nav-header {
    padding: 2px 0;
    background-color: #eeeeee !important;
    border-top: 1px solid #dddddd !important;
    padding-left: 2px;
    color: #888888;
    text-transform: uppercase;
    font-size: 11px;
}

.leftnav .nav li  a {
    padding: 3px 0 3px 20px;
}
.leftnav .nav li.active a {
  color: #eee !important;
  background-color: #999999 !important;
}

/* page header and imporve button */
.page-header {
    margin: 0px;
    margin: 20px 0 10px 0;
    border-bottom: 3px solid #dddddd;
}
.page-header h1 {
    color: #666666 !important;
    font-family: "Open Sans", sans-serif !important;
}
.improve-page {
  float: right;
  margin: 0 2px;
  position: relative;
}

.container {
    max-width: 1100px;
}


h2 {
    font-size: 25px;
    color: #4444 !important;
    padding-bottom: 2px;
    padding-left: 4px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

h3 {
    font-size: 20px;
    color: #4444 !important;
    padding-bottom: 2px;
    margin-top: 25px;
    margin-left: 15px;
}

.alert {
    margin-left: 30px;
    margin-right: 40px;
} 


/* Prefer horizontal scroll to wrapping code */
deadpre {
  white-space:pre;
  word-wrap:normal;
  word-break:normal;
  overflow-x:auto;
}
pre {
    font-size: 12px;   
    color: #222222;
    margin-left: 15px;
    font-family: monospace;
}

.highlight .kd {
    color: #E4438A;   
}
.highlight .nx {
    color: #E36823;
    font-weight: bold;
}
.highlight .c1 {
    color: #111111;
}
