

.navbar {
        border-radius: 0;
        margin-bottom: 0;
}
#main-logo {
    width: 260px;
    padding: 10px 0 0 20px;
}
#main-logo a {
   font-family: Helvetica !important;
   color: #CCCCCC;
   font-size: 18pt;
   font-weight: bold;
   
}
#main-logo a:hover {
    text-decoration: none;
}
/* hero is the big gopher banner on index.html */
.hero-unit {
  background-color: #222;
  margin-top:0;
  min-width: 940px;
  color:#ccc;
  padding-top:0px;
  border-bottom:1px solid #375EAB;
    font-family: Helvetica;
}
.hero-unit h1 {
    font-weight: bold;
}
.hero-img {
  float:left;
  margin-left: 100px;
}

.hero-text {
  margin-left:200px;
  padding-top:200px;
  padding-bottom:150px;
}

/************************************************/
/* Left navigation */
.leftnav {
    
    margin-top: 20px;
}
.leftnav .nav-header {
    background-color: #dddddd !important;
    padding: 3px 4px 3px 20px;
    color: #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 12pt;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 8px;
    margin-top: 10px;
}

.leftnav .nav li  a {
    padding: 3px 0 3px 20px;
    color: #444444 !important;
    font-size: 11pt;
    background-color: #eeeeee;
    border-left: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
    margin: 0 20px 0 15px;
}
.leftnav .nav li  a:hover {
    color: black !important;   
    background-color: white;
    border-color: #999999;
}
.leftnav .nav li.active a {
  color: black !important;
  background-color: white !important;
  border-color: #222222;
}

/************************************************/
/** main content */
.main {
}
.main p, .main li {
  line-height: 1.5em;
  margin-left: 15px;
  margin-right: 30px;
}

.main a {
  color: #0088cc;
  text-decoration: none;
}

.main a:hover {
  color: #005580;
  text-decoration: underline;
}


/*********************/
/* Link decorators */

/* golang.org and base packages */
.main a[href^="https://www.golang.org"],
.main a[href^="http://www.golang.org"],
.main a[href^="http://golang.org"],
.main a[href^="https://golang.org"]
{ 
  color: #222222; 
  background-color: #CBFFFD !important;
  font-family: monospace;
  background: url(/img/gopher-link.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 12px;
}
/* godoc.org */
.deadmain a[href^="https://godoc.org"] code { 
    color: #375EAB; 
    background-color: black !important;
    font-family: monospace;
    ssbackground: url(/img/godoc.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 16px;
}

/* godoc.org + revel */
.main a[href^="https://godoc.org/github.com/revel"] { 
	color: #535353 !important; 
	background-color: #E9F5FF !important;
	font-family: monospace;
	font-weight: bold;
	/* background: url(/img/godoc.png);
	background-position: top right;
	background-repeat: no-repeat; padding-right: 16px; */
	
}

.main code {
    deadcolor: green;
    background: 0;
    border: 0;
    font-family: monospace
}

.main a code {
    color: #196497;
    text-decoration: none;
    deadbackground-color: red !important;
}



/************************************************/
/* page header and imporve button */
.page-header {
    margin: 30px 0 5px 0;
    border-bottom: 1px solid #cccccc;
    
}
.page-header h1 {
    color: #666666 !important;
    font-family: sans-serif !important;
    font-size: 20pt;
}
.improve-page {
    float: right;
    margin: 0 2px;
    position: relative;
}

.revel-godoc-bar {
  font-family: monospace;
  
  margin-top: 50px;
  
  
 
  
}
.revel-godoc-bar h6 {
    font-family: monospace;
    font-size: 12pt;
    padding: 2px 4px;
    border: 0;
    border-top: 1px solid #bbbbbb;
    background-color: #cccccc;
    
}

.revel-github-bar {
  font-family: monospace;
  margin: 0px;
 
  
}
.revel-github-bar h6 {
    font-family: monospace;
    font-size: 12pt;
    padding: 2px 4px;
    border: 0;
    border-top: 1px solid #bbbbbb;
    background-color: #cccccc;
    
}

.main h2 {
    font-family:  sans-serif !important;
    font-size: 16pt;
    color: #444444 !important;
    padding: 4px 0 4px 6px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #aaaaaa;
    border-right: 20px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    background-color: #eeeeee;
}



.main h3 {
    font-family:  sans-serif !important;
    font-size: 14pt;
    color: #4444 !important;
    padding: 4px 6px;
    margin-top: 25px;
    margin-left: 2px;
    border-top: 1px solid #aaaaaa;
    border-right: 10px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    background-color: #eeeeee;
}

.main h4 {
    font-size: 18px;
    color: #2222 !important;
    padding: 5px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #dddddd !important;
}

/* uses mainly on appconf */
.main h4 code {
    font-weight: bold;
    color: #992086 !important;
    margin-left: 0;
    padding-left: 0;
    
}

.alert {
    margin-left: 30px;
    margin-right: 40px;
} 


/* pygments and code */

.highlight pre, pre {
    border: none;
    font-size: 12px;   
    color: #222222;
    background-color: #eeeeee;
    box-shadow: 10px 10px 23px -8px rgba(158,158,158,1);
    margin: 10px 30px 10px 30px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre;
}

.highlight .kd {
    color: #E4438A;   
}
.highlight .nx {
    color: #21922F;
    font-weight: bold;
}
.highlight .nb {
    font-weight: bold;
}
.highlight .c1 {
    color: #111111;
}
.highlight .kc {
    color: #92214E;
}
.highlight .language-htmldjango .nv {
     color: #219277;
    font-weight: bold;
}


/************************************************/

footer {
    border-top: 1px solid #dddddd;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 3px solid #dddddd;
}

.revel-tutorial .leftnav .nav-header {
    background-color: #6CA642 !important;
}
.revel-manual .leftnav .nav-header {
    background-color: #427FA6 !important;
}
.revel-modules .leftnav .nav-header {
    background-color: #6142A6 !important;
}
.revel-quickstart .leftnav .nav-header {
    background-color: #8F42A6 !important;
}
.revel-examples .leftnav .nav-header {
    background-color: #A64252 !important;
}
.revel-quickref .leftnav .nav-header {
    background-color: #427FA6 !important;
}