

<div class="navbar navbar-inverse snavbar-fixed-top ssrevel-top-nav" ssstyle="margin:0 auto 2px auto;">
    <div class="container">
        
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.layout == 'tutorial' %}class="active"{% endif %}>
                    <a href="{{ page.root }}/tutorial/index.html">Tutorial</a></li>
                <li {% if page.layout == 'manual' %}class="active"{% endif %}>
                    <a href="{{ page.root }}/manual/index.html">Manual</a></li>
				<li {% if page.layout == 'quickstart' %}class="active"{% endif %}>
                    <a href="{{ page.root }}/quickstart/index.html">Quick Start</a></li>
                <li {% if page.layout == 'samples' %}class="active"{% endif %}>
                    <a href="{{ page.root }}/samples/index.html">Samples</a></li>
                    
                <li {% if page.layout == 'godoc' %}class="active"{% endif %}>
                    <a href="https://godoc.org/github.com/revel/revel" target="_godoc">GoDoc</a></li>
                    
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">github <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://github.com/revel/" target="github">The Revel project</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Revel core</li>
                        <li><a href="https://github.com/revel/revel" target="github">Revel source code</a></li>
                        <li><a href="https://github.com/revel/revel/issues" starget="github">Revel issues</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Revel command</li>
                        <li><a href="https://github.com/revel/cmd" target="github">Source code</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Samples</li>
                        <li><a href="https://github.com/revel/samples" target="github">Source code</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Support <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://godoc.org/github.com/revel/revel" target="_blank">Revel at godoc.org</a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/revel-framework" target="_blank">Mailing List</a></li>
                        <li><a href="irc://irc.freenode.net#revel" target="_blank">Chat at irc.freenode.net#revel</a></li>
                        <li><a href="https://gitter.im/revel" target="_blank">Chat at gitter.im/revel</a></li>
                        
                        <li><a href="http://stackoverflow.com/questions/tagged/revel" target="_blank">Revel at StackOverflow</a></li>
                    </ul>
                <li>
                
                 <a class="navbar-brand" id="main-logo" href="#">Revel</a>
                 
            </ul>
        </div>
       
    </div>
</div>
