<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link href="{{ page.root }}/css/manual.css" type="text/css" rel="stylesheet" />
    <link href="{{ page.root }}/css/prettify.css" type="text/css" rel="stylesheet" />
    <script src="{{ page.root }}/js/prettify.js" type="text/javascript"></script>
    <script src="{{ page.root }}/js/lang-go-rich.js" type="text/javascript"></script>
		{% include analytics.html %}
  </head>

  <body onload="prettyPrint()">

    {% include topnav.html %}

    <div class="container">
      <div class="row">
        <div class="span2">
          {% include nav.html nav=site.data.quickstart  %}
        </div>

        <div class="span10">
          <div class="page-header">
            <h1>{{ page.title }}</h1>
            <a href="https://github.com/revel/revel.github.io/edit/master/{{ page.path }}" class="improve-page btn btn-info" target="_blank">Improve this page</a>
          </div>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
