---
root: ..
name: quickref
section_title: QuickRef
nav:
-
  name: Links
  articles:
  -
    title: app.conf
    url: ../manual/appconf.html
  -
    title: revel cmd
    url: ../manual/tool.html
-
  name: Repositories
  articles:
  -
    title: Revel Core
    url: https://github.com/revel/revel
  -
    title: Modules
    url: https://github.com/revel/modules
  -
    title: revel cmd
    url: https://github.com/revel/cmd
  -
    title: Examples
    url: https://github.com/revel/samples
  -
    title: revel.github.io
    url: https://github.com/revel/revel.github.io
---
{% include main_layout.html %}